.netflix-body{
    background-image: url(https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg);
    background-size: cover;
    height: 768px;
    color: white;
}          
.netflix-shade{
    background-color: rgb(0,0,0,0.5);
    height: 768px;
}
.netflix-register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.netflix-register p{
    font-size: 20px;
}